.main-sidebar {
  position: fixed;
  width: 20vw;
  height: 90%;
  /* to comply with header */
  top: 10%; 
  background-color: #282c34;
  color: #d1d1d1;

  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-box {
  width: 100%;
  height: 10%;
  transition-duration: 0.2s;
  text-align: center;
  color: #d1d1d1;
  border: 2px solid #838383;
  background-color: #282c34;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.sidebar-box:hover {
  background-color: #5b616d;
}

.scroll-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1d1d1d;
}

.scroll-2::-webkit-scrollbar {
  width: 8px;
	background-color: #1d1d1d;
}

.scroll-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background-color: #707070;
}

.trash-can-div {
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  background-color: #3d4149;
  transition-duration: 0.2s;
}

.trash-can-div:hover {
  background-color: #bd2f2f;
}

.trash-can {
  margin: auto;
  /* height: 100%; */
  width: 100%;
}